<a href="https://colab.research.google.com/github/anitaokoh/technical_articles_repo/blob/main/ML_in_pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
! pip install kaggle
! mkdir ~/.kaggle
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json
! kaggle datasets download -d yasserh/titanic-dataset
!unzip titanic-dataset.zip

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.6.15)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
mkdir: cannot create directory ‘/root/.kaggle’: File exists
Downloading titanic-dataset.zip to /content
  0% 0.00/22.0k [00:00<?, ?B/s]
100% 22.0k/22.0k [00:00<00:00, 14.8MB/s]
Archive:  titanic-dataset.zip
  inflating: Titanic-Dataset.csv

In [2]:
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-3.1.1/spark-3.1.1-bin-hadoop3.2.tgz
!tar xf spark-3.1.1-bin-hadoop3.2.tgz
!pip install -q findspark

Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:7 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 3s (92.1 kB/s)
Reading package lists... Done

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.1-bin-hadoop3.2"

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
from pyspark.ml.feature import StringIndexer, VectorAssembler,  StandardScaler
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression
from pyspark.sql.types import DoubleType
from pyspark.sql.functions import col
from pyspark.mllib.evaluation import  MulticlassMetrics
spark = SparkSession.builder.master("local[4]").getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) # Property used to format output tables better
spark

In [5]:
df = spark.read.csv('*.csv', header=True, sep=",", inferSchema=True)
df.show(5)

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 5 rows

In [6]:
df = df.select("Sex", "Age", "Sibsp", "Fare", col("Survived").cast("double")).na.drop()
df.show()

+------+----+-----+-------+--------+
|   Sex| Age|Sibsp|   Fare|Survived|
+------+----+-----+-------+--------+
|  male|22.0|    1|   7.25|     0.0|
|female|38.0|    1|71.2833|     1.0|
|female|26.0|    0|  7.925|     1.0|
|female|35.0|    1|   53.1|     1.0|
|  male|35.0|    0|   8.05|     0.0|
|  male|54.0|    0|51.8625|     0.0|
|  male| 2.0|    3| 21.075|     0.0|
|female|27.0|    0|11.1333|     1.0|
|female|14.0|    1|30.0708|     1.0|
|female| 4.0|    1|   16.7|     1.0|
|female|58.0|    0|  26.55|     1.0|
|  male|20.0|    0|   8.05|     0.0|
|  male|39.0|    1| 31.275|     0.0|
|female|14.0|    0| 7.8542|     0.0|
|female|55.0|    0|   16.0|     1.0|
|  male| 2.0|    4| 29.125|     0.0|
|female|31.0|    1|   18.0|     0.0|
|  male|35.0|    0|   26.0|     0.0|
|  male|34.0|    0|   13.0|     1.0|
|female|15.0|    0| 8.0292|     1.0|
+------+----+-----+-------+--------+
only showing top 20 rows

In [7]:
df.printSchema()

root
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Sibsp: integer (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Survived: double (nullable = true)

In [8]:
gender_indexer = StringIndexer(inputCol="Sex", outputCol="Gender")
columns = ['Gender', 'Age', 'Sibsp', 'Fare']
assembler = VectorAssembler(inputCols=columns, outputCol="v_features")
scaler = StandardScaler(inputCol="v_features", outputCol="features", withStd=True)
pipeline = Pipeline(stages=[gender_indexer, assembler, scaler])
data = pipeline.fit(df).transform(df)

In [9]:
data.show()

+------+----+-----+-------+--------+------+--------------------+--------------------+
|   Sex| Age|Sibsp|   Fare|Survived|Gender|          v_features|            features|
+------+----+-----+-------+--------+------+--------------------+--------------------+
|  male|22.0|    1|   7.25|     0.0|   0.0| [0.0,22.0,1.0,7.25]|[0.0,1.5144738264...|
|female|38.0|    1|71.2833|     1.0|   1.0|[1.0,38.0,1.0,71....|[2.07503065065606...|
|female|26.0|    0|  7.925|     1.0|   1.0|[1.0,26.0,0.0,7.925]|[2.07503065065606...|
|female|35.0|    1|   53.1|     1.0|   1.0| [1.0,35.0,1.0,53.1]|[2.07503065065606...|
|  male|35.0|    0|   8.05|     0.0|   0.0| [0.0,35.0,0.0,8.05]|[0.0,2.4093901784...|
|  male|54.0|    0|51.8625|     0.0|   0.0|[0.0,54.0,0.0,51....|[0.0,3.7173448467...|
|  male| 2.0|    3| 21.075|     0.0|   0.0|[0.0,2.0,3.0,21.075]|[0.0,0.1376794387...|
|female|27.0|    0|11.1333|     1.0|   1.0|[1.0,27.0,0.0,11....|[2.07503065065606...|
|female|14.0|    1|30.0708|     1.0|   1.0|[1.0,14.0,1.0,30....|[2.07503065065606...|
|female| 4.0|    1|   16.7|     1.0|   1.0|  [1.0,4.0,1.0,16.7]|[2.07503065065606...|
|female|58.0|    0|  26.55|     1.0|   1.0|[1.0,58.0,0.0,26.55]|[2.07503065065606...|
|  male|20.0|    0|   8.05|     0.0|   0.0| [0.0,20.0,0.0,8.05]|[0.0,1.3767943876...|
|  male|39.0|    1| 31.275|     0.0|   0.0|[0.0,39.0,1.0,31....|[0.0,2.6847490560...|
|female|14.0|    0| 7.8542|     0.0|   1.0|[1.0,14.0,0.0,7.8...|[2.07503065065606...|
|female|55.0|    0|   16.0|     1.0|   1.0| [1.0,55.0,0.0,16.0]|[2.07503065065606...|
|  male| 2.0|    4| 29.125|     0.0|   0.0|[0.0,2.0,4.0,29.125]|[0.0,0.1376794387...|
|female|31.0|    1|   18.0|     0.0|   1.0| [1.0,31.0,1.0,18.0]|[2.07503065065606...|
|  male|35.0|    0|   26.0|     0.0|   0.0| [0.0,35.0,0.0,26.0]|[0.0,2.4093901784...|
|  male|34.0|    0|   13.0|     1.0|   0.0| [0.0,34.0,0.0,13.0]|[0.0,2.3405504590...|
|female|15.0|    0| 8.0292|     1.0|   1.0|[1.0,15.0,0.0,8.0...|[2.07503065065606...|
+------+----+-----+-------+--------+------+--------------------+--------------------+
only showing top 20 rows

In [10]:
train,test = data.randomSplit([0.7, 0.3], seed=42)
log_reg = LogisticRegression(featuresCol='features', labelCol='Survived')
log_regModel = log_reg.fit(train)

In [11]:
predictions = log_regModel.transform(test)
predictions.show()

+------+----+-----+-------+--------+------+--------------------+--------------------+--------------------+--------------------+----------+
|   Sex| Age|Sibsp|   Fare|Survived|Gender|          v_features|            features|       rawPrediction|         probability|prediction|
+------+----+-----+-------+--------+------+--------------------+--------------------+--------------------+--------------------+----------+
|female| 1.0|    0|15.7417|     1.0|   1.0|[1.0,1.0,0.0,15.7...|[2.07503065065606...|[-1.7330699669381...|[0.15019531840662...|       1.0|
|female| 2.0|    1|   26.0|     1.0|   1.0|  [1.0,2.0,1.0,26.0]|[2.07503065065606...|[-1.4708363464906...|[0.18681552670407...|       1.0|
|female| 2.0|    3|   27.9|     0.0|   1.0|  [1.0,2.0,3.0,27.9]|[2.07503065065606...|[-0.7486381991553...|[0.32111810278665...|       1.0|
|female| 2.0|    4| 31.275|     0.0|   1.0|[1.0,2.0,4.0,31.275]|[2.07503065065606...|[-0.4195137832555...|[0.39663310338384...|       1.0|
|female| 4.0|    0| 22.025|     1.0|   1.0|[1.0,4.0,0.0,22.025]|[2.07503065065606...|[-1.7443126137952...|[0.14876598049027...|       1.0|
|female| 4.0|    1|   16.7|     1.0|   1.0|  [1.0,4.0,1.0,16.7]|[2.07503065065606...|[-1.3004749927079...|[0.21408508731602...|       1.0|
|female| 4.0|    1|   23.0|     1.0|   1.0|  [1.0,4.0,1.0,23.0]|[2.07503065065606...|[-1.3835431757747...|[0.20044055299022...|       1.0|
|female| 5.0|    2|19.2583|     1.0|   1.0|[1.0,5.0,2.0,19.2...|[2.07503065065606...|[-0.9367135929564...|[0.28156465923588...|       1.0|
|female| 6.0|    0|   33.0|     1.0|   1.0|  [1.0,6.0,0.0,33.0]|[2.07503065065606...|[-1.8412857698030...|[0.13689929780134...|       1.0|
|female| 7.0|    0|  26.25|     1.0|   1.0| [1.0,7.0,0.0,26.25]|[2.07503065065606...|[-1.7284156985561...|[0.15079034146669...|       1.0|
|female| 8.0|    0|  26.25|     1.0|   1.0| [1.0,8.0,0.0,26.25]|[2.07503065065606...|[-1.7045472520236...|[0.15387230054386...|       1.0|
|female| 9.0|    3|   27.9|     0.0|   1.0|  [1.0,9.0,3.0,27.9]|[2.07503065065606...|[-0.5815590734278...|[0.35857392984507...|       1.0|
|female| 9.0|    4| 31.275|     0.0|   1.0|[1.0,9.0,4.0,31.275]|[2.07503065065606...|[-0.2524346575280...|[0.43722433791283...|       1.0|
|female|10.0|    0|  24.15|     0.0|   1.0|[1.0,10.0,0.0,24.15]|[2.07503065065606...|[-1.6291209646030...|[0.16395081584669...|       1.0|
|female|13.0|    0| 7.2292|     1.0|   1.0|[1.0,13.0,0.0,7.2...|[2.07503065065606...|[-1.3344076707138...|[0.20843121940696...|       1.0|
|female|14.0|    0| 7.8542|     0.0|   1.0|[1.0,14.0,0.0,7.8...|[2.07503065065606...|[-1.3187801153586...|[0.21102132208950...|       1.0|
|female|14.0|    1|11.2417|     1.0|   1.0|[1.0,14.0,1.0,11....|[2.07503065065606...|[-0.9898205172823...|[0.27094753030565...|       1.0|
|female|15.0|    0|  7.225|     1.0|   1.0|[1.0,15.0,0.0,7.225]|[2.07503065065606...|[-1.2866153988601...|[0.21642624061456...|       1.0|
|female|15.0|    1|14.4542|     1.0|   1.0|[1.0,15.0,1.0,14....|[2.07503065065606...|[-1.0083102514010...|[0.26731066746140...|       1.0|
|female|16.0|    0| 7.7333|     1.0|   1.0|[1.0,16.0,0.0,7.7...|[2.07503065065606...|[-1.2694491043043...|[0.21935157093138...|       1.0|
+------+----+-----+-------+--------+------+--------------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [12]:
# evaluator = MulticlassClassificationEvaluator(labelCol="Survived",predictionCol="prediction")
# # bi_evaluator = BinaryClassificationEvaluator(labelCol="Survived",predictionCol="prediction")
# print('-----------------------------------')
# print('LR Train Metrics:')

# accuracy = evaluator.evaluate(predictions.select("Survived", "prediction"), {evaluator.metricName: "accuracy"})
# print("Accuracy : " + str(round(accuracy,2)))

# f1_Score = evaluator.evaluate(predictions, {evaluator.metricName: "f1"})
# print("f1_Score : " + str(f1_Score))

In [13]:
metrics_multi = MulticlassMetrics(predictions.select("Survived", "prediction").rdd.map(tuple))

In [14]:
print('-----------------------------------')
print('LR Train Metrics:')

print("Accuracy : " + str(round(metrics_multi.accuracy,2)))
print("F1_Score : " + str(round(metrics_multi.fMeasure(1.0),2)))
print("Precision_Score : " + str(round(metrics_multi.precision(1.0),2)))
print("Recall_Score : " + str(round(metrics_multi.recall(1.0),2)))

-----------------------------------
LR Train Metrics:
Accuracy : 0.79
F1_Score : 0.72
Precision_Score : 0.68
Recall_Score : 0.76

In [21]:
import pandas as pd
pd.DataFrame(metrics_multi.confusionMatrix().toArray())

      0     1
0  97.0  24.0
1  16.0  51.0